* {
    margin: 0;
    padding: 0;
	box-sizing: border-box;
	background-color: black;
}
/* JS cahrgement page */
.intro {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: relative;
	background-color: black;
  }
  
  .intro-text {
	color: rgb(255, 255, 255);
	font-family: Montserrat;
	font-size: 40px;
	text-align: center;
	letter-spacing: 0.1em;
  }
  
  .hide {
	background-color: black;
	overflow: hidden;
	padding-top: 90px;
  }
  
  .hide span {
	transform: translateY(100%);
	display: inline-block;
  }

  /* Navbar*/

  nav {
	  display: flex;
	  justify-content: space-between;
	  padding: 50px;
	  color: white;
	  align-items: center;
	  height: 80px;
	  font-family: "Poppins";
  }

  .logo {
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 15px;
  }
  .nav-links {
	justify-content: space-around;
	height: 80px;
	width: 40%;
	display: flex;
	background-color: transparent;
  }
  .nav-links li {
	display: flex;
	padding: 30px;
  }
  .nav-links a{
	letter-spacing: 3px;
	color: white;
	font-weight: bold;
	font-size: 15px;
  }
/* first page */

section{
  display: flex;
  height: 90vh;
  justify-content: center;
  align-items: center;
  background:black;
}

.hero{
  height: 60%;
  width: 100%;
  position: relative;
}

.hero img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}  

.headline{
  position: absolute;
  top: 15%;
  right: 15%;
  font-size: 100px;
  letter-spacing: 0.1em;
  transform: translate(-20%, -70%);
  color: rgb(255, 255, 255);
  background: transparent;
}

.hero::after{
  content: "";
  background: black;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.3;
  left: 0;
}

/* Light effect WORK */

body {
	margin: 0;
	font-family: Montserrat;
	font-size: 130px;
	color: red;
	letter-spacing: 0.5em;
	display: inline;
	height: 100vh;
}

title > span {
	opacity: 10;
}

#L, #I, #G, #H {
	animation: flickerLIGH 3s linear reverse infinite;
	position: relative;
}

@keyframes flickerLIGH {
	0% {
		opacity: 0.4;
	}
	5% {
		opacity: 0.5;
	}
	10% {
		opacity: 0.6;
	}
	15% {
		opacity: 0.85;
	}
	25% {
		opacity: 0.5;
	}
	30% {
		opacity: 1;
	}
	35% {
		opacity: 0.1;
	}
	40% {
		opacity: 0.25;
	}
	45% {
		opacity: 0.5;
	}
	60% {
		opacity: 1;
	}
	70% {
		opacity: 0.85;
	}
	80% {
		opacity: 0.4;
	}
	90% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}

@keyframes flickerLG {
	0% {
		opacity: 0.19;
	}
	5% {
		opacity: 0.2;
	}
	10% {
		opacity: 0.25;
	}
	15% {
		opacity: 0.35;
	}
	25% {
		opacity: 0.2;
	}
	30% {
		opacity: 0.4;
	}
	35% {
		opacity: 0.1;
	}
	40% {
		opacity: 0.25;
	}
	45% {
		opacity: 0.2;
	}
	60% {
		opacity: 0.4;
	}
	70% {
		opacity: 0.35;
	}
	80% {
		opacity: 0.4;
	}
	90% {
		opacity: 0.2;
	}
	100% {
		opacity: 0.4;
	}
}

/* Liquid effect + section texte sur sa gauche*/

.wrapper {
	width: 600px;
	height: 400px;
	position: relative;
	bottom: 20px;  /* postion de la photo de haut en bas */
	
}

.box {
    width: 600px;
	height: 400px;
	background-color: rgb(255, 255, 255);
	opacity: 1;
	font-family: Montserrat;
	font-size: 20px;
	color: black;
	letter-spacing: 0.1em;
	text-align: left;
	padding: 1%;
	
}

/*Button hover*/

.container3{
    display: flex;
	justify-content: space-evenly;
	background-color: transparent;
} 

.button{
	background-color: rgb(255, 255, 255);
	color: black;
	font-family: didot;
	width: 180px;
	height: 70px;
	border: 100px;
	font-size: 18px;
	transition: .5s;
}

.button:hover {
	background: rgb(0, 0, 0);
	cursor: pointer;
	color: white;
	transform: scale(1.05);
}

h2{
	background-color: transparent;
	position: relative;
	text-align: center;
}

p{
	background-color: transparent;
	position: relative;
	text-align: justify;
	font-size: 17px;
}